body {
    background-image: url(back.png);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    line-height: 1.5;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
    font-family: "Manrope", sans-serif;
    
}

.logo {
  margin-bottom: 2rem;
}

.main {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    transition: transform 0.2s;
    width: 500px;
    text-align: center;
}

h1 {
    color: #476889;
    font-weight: 200;
    font-size: 2.5rem;
}

label {
    display: block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: left;
    color: #555;
    font-weight: 400;
}

input,
select {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
}

select {
    color: #555;
    background: white;
}

.checkbox {
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 5px;
}

.checkbox > label,
.checkbox > input {
    display: flex;
    width: auto;
    margin: 0;
    padding: 0;
}

button {
    padding: 15px;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: none;
    color: white;
    cursor: pointer;
    background-color: #476889;
    width: 50%;
    font-size: 16px;
    text-transform: uppercase;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

