<head>
    <title>HTML Login Form</title>
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
       <div class="main">
        <h1>Войти</h1>

        <form action="">
            <label for="first">
                Номер телефона:
            </label>
            <input type="text" id="first" name="first"
                placeholder="+7..." required>

            <label for="password">
                Пароль:
            </label>
            <input type="password" id="password" name="password"
                placeholder="Пароль..." required>

            <div class="wrap">
                <button type="submit">
                    Войти
                </button>
            </div>
        </form>
    </div>
</body>
