<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Login Page</title>
        <link href="../static/style.css" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="logo">
            <img src="..\static\logo\logo2.png" width="755" height="145">
        </div>
        <div class="main">
            <h1>Регистрация</h1>
            <form action="">
                <label for="fio">ФИО:</label>
                <input type="text" id="fio" name="fio" required>

                <label for="phone">Номер телефона:</label>
                <input type="text" id="phone" name="phone" placeholder="+7..." required>

                <label for="email">Электронная почта:</label>
                <input type="email" id="email" name="email" required>

                <label for="job">Должность:</label>
                <select id="job" name="job" required>
                    <option value="1">Младший инженер</option>
                    <option value="2">Инженер</option>
                    <option value="3">Старший инженер</option>
                </select>

                <label for="password">Пароль:</label>
                <input type="password" id="password" name="password" required>

                <label for="repeat">Повторите пароль:</label>
                <input type="repeat" id="repeat" name="password" required>

                <div class="wrap">
                    <button type="submit">
                        Создать аккаунт
                    </button>
                </div>
            </form>
        </div>
    </body>
</html>
